@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&isplay=swap'); */

:root{
    --primario: #0b254b;
    --light1: #ffffff;
    --light-blue: #f5f6fa;
    --grey1:#eff2f7;
     
   --magra:'Magra', sans-serif;
    
}